{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <!-- select2 -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
     <link href="https://cdn.jsdelivr.net/gh/ttskch/select2-bootstrap4-theme@master/dist/select2-bootstrap4.min.css"
           rel="stylesheet">

 {% endblock %}


{% block body %}

    {{ form_errors(edit_form) }}
    {{ form_start(edit_form) }}

    <section id="edit-journal">
        <div class="container-fluid myTab">
            <div class="row justify-content-md-center">
                <div class="col-9" style="background-color: #eeeeee">
                    <div class="row referencia-container p-5">
                        <div class="col-md-12">
                            <form>
                                <h1>Journal edit</h1>

                                <div class="form-group">
                                    <label for="reference">{{ form_label(edit_form.name) }}</label>
                                    {{ form_errors(edit_form.name) }}
                                    {{ form_widget(edit_form.name, { 'attr': { 'class': "form-control", 'placeholder': "Name" , 'id': "name",'autocomplete':"off"  } } ) }}
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="publisher">{{ form_label(edit_form.publisher) }}</label>
                                        {{ form_errors(edit_form.publisher) }}
                                        {{ form_widget(edit_form.publisher, { 'attr': { 'class': "form-control", 'placeholder': "Publisher" , 'id': "publisher", 'autocomplete':"off"  } } ) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="issn">{{ form_label(edit_form.issn) }}</label>
                                        {{ form_errors(edit_form.issn) }}
                                        {{ form_widget(edit_form.issn, { 'attr': { 'class': "form-control", 'placeholder': "Issn" , 'id': "issn", 'autocomplete':"off"   } } ) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="eissn">{{ form_label(edit_form.eissn) }}</label>
                                        {{ form_errors(edit_form.eissn) }}
                                        {{ form_widget(edit_form.eissn, { 'attr': { 'class': "form-control", 'placeholder': "E-issn" , 'id': "eissn",'autocomplete':"off"   } } ) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="url">{{ form_label(edit_form.url) }}</label>
                                    {{ form_errors(edit_form.url) }}
                                    {{ form_widget(edit_form.url, { 'attr': { 'class': "form-control", 'placeholder': "Url" , 'id': "url", 'autocomplete':"off"   } } ) }}
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="pais">{{ form_label(edit_form.pais) }}</label>
                                        {{ form_errors(edit_form.pais) }}
                                        {{ form_widget(edit_form.pais, { 'attr': { 'class': "form-control", 'placeholder': "País" , 'id': "pais"  } } ) }}
                                    </div>
                                </div>


                                <div>
                                    {{ form_widget(edit_form) }}
                                    <button type="submit" class="btn btn-primary">Save <i class="fas fa-save fa-x3"></i>
                                    </button>
                                    <a href="javascript:history.back(-1);" title="Ir la página anterior"
                                       class="btn btn-danger">Cancel <i class="fas fa-times fa-x3"></i></a>
                                    {{ form_end(edit_form) }}
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ form_end(edit_form) }}
{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>


    <script>
        $('select').each(function (idx, ele) {
            $(ele).select2({
                theme: 'bootstrap4',
                placeholder: ele.getAttribute('placeholder')
            });
        });
    </script>

{% endblock %}