{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <!-- select2 -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
     <link href="https://cdn.jsdelivr.net/gh/ttskch/select2-bootstrap4-theme@master/dist/select2-bootstrap4.min.css" rel="stylesheet">

 {% endblock %}

{% block body %}

    {{ form_start(form) }}

    {{ form_errors(form) }}
    <section id="new-cite">
        <div class="container-fluid myTab">
            <div class="row justify-content-md-center">
                <div class="col-9" style="background-color: #eeeeee">
                    <div class="row referencia-container p-5">
                        <div class="col-md-12 ">
                            <form>
                                <h1>Journal creation</h1>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="name">{{ form_label(form.name) }}</label>
                                        {{ form_errors(form.name) }}
                                        {{ form_widget(form.name, { 'attr': { 'class': "form-control", 'placeholder': "Name" , 'id': "name"  } } ) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="publisher">{{ form_label(form.publisher) }}</label>
                                        {{ form_errors(form.publisher) }}
                                        {{ form_widget(form.publisher, { 'attr': { 'class': "form-control", 'placeholder': "Publisher" , 'id': "publisher"  } } ) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="issn">{{ form_label(form.issn) }}</label>
                                        {{ form_errors(form.issn) }}
                                        {{ form_widget(form.issn, { 'attr': { 'class': "form-control", 'placeholder': "Issn" , 'id': "issn"  } } ) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="eissn">{{ form_label(form.eissn) }}</label>
                                        {{ form_errors(form.eissn) }}
                                        {{ form_widget(form.eissn, { 'attr': { 'class': "form-control", 'placeholder': "E-issn" , 'id': "eissn"  } } ) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="url">{{ form_label(form.url) }}</label>
                                    {{ form_errors(form.url) }}
                                    {{ form_widget(form.url, { 'attr': { 'class': "form-control", 'placeholder': "Url" , 'id': "url"  } } ) }}
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="pais">{{ form_label(form.pais) }}</label>
                                        {{ form_errors(form.pais) }}
                                        {{ form_widget(form.pais, { 'attr': { 'class': "form-control", 'placeholder': "País" , 'id': "pais"  } } ) }}
                                    </div>
                                </div>

                                <div>
                                    {{ form_widget(form) }}
                                    <button type="submit" class="btn btn-primary">Save <i class="fas fa-save fa-x3"></i></button>
                                    <a href="javascript:history.back(-1);" title="Ir la página anterior"
                                       class="btn btn-danger">Cancel <i class="fas fa-times fa-x3"></i></a>
                                    {{ form_end(form) }}
                                </div>
                                {#        <ul>#}
                                {#            <li>#}
                                {#                <a href="{{ path('journal_index') }}">Back to the list</a>#}
                                {#            </li>#}
                                {#        </ul>#}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    {{ form_start(form) }}#}
    {#        {{ form_widget(form) }}#}
    {#        <input type="submit" value="Create" />#}
    {#    {{ form_end(form) }}#}

    {#    <ul>#}
    {#        <li>#}
    {#            <a href="{{ path('journal_index') }}">Back to the list</a>#}
    {#        </li>#}
    {#    </ul>#}

{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>


    <script>
        $('select').each(function(idx, ele) {
            $(ele).select2({
                theme: 'bootstrap4',
                placeholder: ele.getAttribute('placeholder')
            });
        });
    </script>

{% endblock %}