


<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title>{% block title %}SRB{% endblock %}</title>


    {% block stylesheets %}
        <!-- Fuente CSS -->
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>


    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>

{% block nav %}
    <section id="navbar">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand d-none d-sm-block ml-lg-3" href="http://www.morelia.unam.mx/campus/">
                <img src="/img/unamx200.png" height="50" class="d-inline-block align-top" alt="UNAM logo">
                <div class="brand d-inline-flex">
                    <p>Universidad Nacional<br>Autónoma de México</p>
                </div>
            </a>

            <a class="navbar-brand d-none d-sm-block ml-lg-1 " href="http://132.248.196.44/acervo2/">
                <a class="navbar-brand" href="http://www.matmor.unam.mx">
                    <img src="/img/ccmlogo.png" height="50" class="d-inline-block align-top" alt="Centro de Ciencias Matemáticas logo">
                </a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse .flex-column  " id="navbarSupportedContent">
                <ul class="navbar-nav  ml-md-auto  d-md-flex justify-content-around" style="margin-right: 10px">
                    {% if is_granted('ROLE_USER') %}
                        <li class="d-flex nav-item" hidden="hidden">
                            <form hidden="hidden" action="../search2" method="get">
                                <div class="input-group">
                                    <input type="search" class="form-control" placeholder="Search" autocomplete="off"
                                           name="q" value="{{ app.request.get('query') }}">
                                </div>
                            </form>
                        </li >
                    {% else %}
                        <div class="d-none d-xl-block">
                            <li class="d-flex nav-item">
                                <form action="../index" method="get">
                                    <div class="input-group">
                                        <input type="search" class="form-control" placeholder="Search" autocomplete="off"
                                               name="q" value="{{ app.request.get('query') }}">
                                    </div>
                                </form>
                            </li >
                        </div>
                    {% endif %}
                    <li class="nav-item active" >
                        <a class="nav-link" href="http://localhost:8000/index">INICIO <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="http://localhost:8000/author/">Autores </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000/journal/">Revista</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Busqueda Avanzada</a>
                    </li>

                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item dropdown" hidden="hidden">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fas fa-user"></i>
                                Ingresa
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="http://localhost:8000/login">Iniciar sesión</a>
                                <a class="dropdown-item" href="http://localhost:8000/resetting/request">Recuperar Contraseña</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Ayuda</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fas fa-user"></i>
                                Ingresa
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="http://localhost:8000/login">Iniciar sesión</a>
                                <a class="dropdown-item" href="http://localhost:8000/resetting/request">Recuperar Contraseña</a>

                            </div>
                        </li>
                    {% endif %}


                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item" hidden="hidden">
                            <a class="nav-link" href="#">Publicar</a>
                        </li>
                    {% elseif not is_granted('ROLE_ADMIN') and not is_granted('ROLE_USER') %}
                        <li class="nav-item" hidden="hidden" >
                            <a class="nav-link" href="#">Publicar</a>
                        </li>
                    {% else %}
                        <li class="nav-item" >
                            <a class="nav-link" href="#">Publicar</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}

                        <li class="nav-item dropdown" >
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                Publicar
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="http://localhost:8000/referencia/new">Referencia</a>
                                <a class="dropdown-item" href="http://localhost:8000/journal/new">Revista</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item dropdown" style="background-color: #eeeeee; border-radius: 13px;">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fas fa-circle fa-xs" style="color: #4caf50"></i>
                                {{ app.user.username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Profile</a>
                                <a class="dropdown-item" href="{{ path('fos_user_change_password') }}">Change password</a>
                                <hr/>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Cerrar sesión</a>

                            </div>
                        </li>

                    {%endif%}
                </ul>
            </div>
        </nav>
    </section>

{% endblock %}


{% block main %}

<div class="container">
    {% if app.request.hasPreviousSession %}
        <div class="messages">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ type }} fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        {{ message|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
</div>

    {% block body %}{% endblock %}

{% endblock %}

{% block footer %}

    <section class="footer ">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-4 offset-md-2 col-xs-12">
                    <div>
                        <h1 class="text-md-right tituloft">Unidad de Documentación<br>
                            Centro de Ciencias Matemáticas</h1>
                    </div>
                    <div>
                        <p class="text-md-right subtituloft">
                            Lic. Lidia González García<br>
                            lidia@matmor.unam.mx<br>
                            Morelia: (443)322 2772 <br>
                            RedUNAM: 32772 <br>
                            Horario: 10:00 - 18:00 hrs<br>
                        </p>
                    </div>
                </div>

                <div class="col-4 col-xs-12 mt-sm-3">
                    <div class="">
                        <h5 class="text-md-left ">Enlaces</h5>
                        <ul class="list-unstyled quick-links text-left ">
                            <li><a href=""><i class="fa fa-angle-double-right"></i>Inicio</a></li>
                            <li><a href=""><i class="fa fa-angle-double-right"></i>Unidad de Documentación</a></li>
                            <li><a href=""><i class="fa fa-angle-double-right"></i>Centro de Ciencias Matematicas </a></li>
                        </ul>
                    </div>
                </div>



            </div>


        </div>
    </section>
{% endblock %}


{% block javascripts %}
    <script src="js/select2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}
</body>
</html>
