<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

        <title>{% block title %}Welcome!{% endblock %}</title>
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
            {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>


        {% block body %}{% endblock %}



    {% block header %}
        <ul>
            <li><a href="default.asp">Home</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li><a href="about.asp">About</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans({}, 'FOSUserBundle') }}</a></li>
        </ul>
    {% endblock %}
    <div class="container">
        <div class="blue-gradient color-block mb-3 mx-auto rounded-circle z-depth-1">

    {% block body %}{% endblock %}

        </div>
    </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="{{ asset('js/nav.js') }}" ></script>
        {% endblock %}
    </body>
</html>
