{% trans_default_domain 'FOSUserBundle' %}

<div class="text-center"><img src="/img/ccmlogo200x100.png"></div>
<h5 class="text-secondary text-center"><strong>Sistema de Información Académica</strong></h5>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-signin' } }) }}

<div class="form-group">

    <label for="fos_user_change_password_form_current"
           class="sr-only">{{ form_label(form.current_password) }}</label>
    {{ form_widget(form.current_password, {'attr': {'class': 'form-control' , 'placeholder' : 'Contraseña actual'}}) }}


    <label for="fos_user_change_password_form_new_first"
           class="sr-only">{{ form_label(form.plainPassword.first) }}</label>
    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control' , 'placeholder' : 'Nueva contraseña'}}) }}


    <label for="fos_user_change_password_form_new_second"
           class="sr-only">{{ form_label(form.plainPassword.second) }}</label>
    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control' , 'placeholder' : 'Repite la contraseña'}}) }}

    {{ form_widget(form) }}
</div>

<div>
    <input class="btn btn-primary btn-block" type="submit" id="submit" name="submit" value="Cambiar contraseña"/>
</div>

{{ form_errors(form) }}
{{ form_end(form) }}