{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <!-- select2 -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
     <link href="https://cdn.jsdelivr.net/gh/ttskch/select2-bootstrap4-theme@master/dist/select2-bootstrap4.min.css" rel="stylesheet">

 {% endblock %}

{% block body %}
    {{ form_start(form) }}

    {{ form_errors(form) }}
    <section id="new-fi">
        <div class="container-fluid myTab">
            <div class="row justify-content-md-center">
                <div class="col-9" style="background-color: #eeeeee">
                    <div class="row referencia-container p-5">
                        <div class="col-md-11 ">
                            <form>
                                <h1>Fi creation</h1>
                                <h3>{{ fi.journal.name }}</h3>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="origen">{{ form_label(form.origen) }}</label>
                                        {{ form_errors(form.origen) }}
                                        {{ form_widget(form.origen, { 'attr': { 'class': "form-control", 'placeholder': "Origin" , 'id': "origen"  } } ) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="year">{{ form_label(form.year) }}</label>
                                        {{ form_errors(form.year) }}
                                        {{ form_widget(form.year, { 'attr': { 'class': "form-control", 'placeholder': "Year" , 'id': "year"  } } ) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="fi">{{ form_label(form.fi) }}</label>
                                        {{ form_errors(form.fi) }}
                                        {{ form_widget(form.fi, { 'attr': { 'class': "form-control", 'placeholder': "Fi" , 'id': "fi"  } } ) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="cuartil">{{ form_label(form.cuartil) }}</label>
                                        {{ form_errors(form.cuartil) }}
                                        {{ form_widget(form.cuartil, { 'attr': { 'class': "form-control", 'placeholder': "Cuartil" , 'id': "cuartil"  } } ) }}
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="pais">{{ form_label(form.journal) }}</label>
                                        {{ form_errors(form.journal) }}
                                        {{ form_widget(form.journal, { 'attr': { 'class': "form-control", 'placeholder': "Journal" , 'id': "journal"  } } ) }}
                                    </div>
                                </div>

                                <div>
                                    {{ form_widget(form) }}
                                    <button type="submit" class="btn btn-primary">Save <i class="fas fa-save fa-x3"></i></button>
                                    <a href="javascript:history.back(-1);" title="Ir la página anterior"
                                       class="btn btn-danger">Cancel <i class="fas fa-times fa-x3"></i></a>
                                    {{ form_end(form) }}
                                </div>
                                {#        <ul>#}
                                {#            <li>#}
                                {#                <a href="{{ path('fi_index') }}">Back to the list</a>#}
                                {#            </li>#}
                                {#        </ul>#}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    {{ form_start(form) }}#}
    {#        {{ form_widget(form) }}#}
    {#        <input type="submit" value="Create" />#}
    {#    {{ form_end(form) }}#}

    {#    <ul>#}
    {#        <li>#}
    {#            <a href="{{ path('fi_index') }}">Back to the list</a>#}
    {#        </li>#}
    {#    </ul>#}
{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>


    <script>
        $('select').each(function(idx, ele) {
            $(ele).select2({
                theme: 'bootstrap4',
                placeholder: ele.getAttribute('placeholder')
            });
        });
    </script>

{% endblock %}
