{% extends 'base.html.twig' %}


{% block body %}
    <section id="table">
        <div class="container myTab">
            <table id="myTable" class="table">
                <div class="mb-4">
                    <h1>Referencias</h1>
                </div>
                <thead>
                <tr>
                    <th>{{ referencias|length }} Resultados</th>
                </tr>
                </thead>
                <tbody>

                {% for referencia in referencias %}

                    <tr>
                        <td class="p-4 m-4">
                            <h5>
                                <strong><a href="{{ path('referencia_show', { 'slug': referencia.slug }) }}">{{ referencia.title }}</a>
                                    <small class="text-muted">{{ referencia.type }}</small>
                                </strong>
                            </h5>
                            {% if referencia.type != "thesis" %}
                                {% if  referencia.journal %} {{ referencia.journal }}
                                    <small class="text-muted">{{ referencia.yearPub }}</small>, {% endif %}
                                {% if  referencia.volume %}Vol: {{ referencia.volume }}, {% endif %}
                                {% if  referencia.issue %}Issue: {{ referencia.issue }}, {% endif %}
                                {% if  referencia.pages %}p. {{ referencia.pages }}{% endif %}
                            {% else %}
                                {% if  referencia.school %} {{ referencia.school }}, {% endif %}
                                {% if  referencia.thesistype %}Degree: {{ referencia.thesistype }} {% endif %}
                                <small class="text-muted">{{ referencia.yearPub }}</small>
                            {% endif %}
                            {% if referencia.authors %}
                                <div>
                                    {% for key in referencia.authors|split(';') %}<a
                                        href="{{ path('search', {'q': key | trim | url_encode() }) }}"> {{ key|trim }}</a>; {% endfor %}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}




    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>






    <script>
        $(document).ready(function () {
            $('#myTable').DataTable(
                {
                    "lengthMenu": [[5, 10, 15], [5, 10, 15]]
                }
            );

        });
    </script>




{% endblock %}