{% extends 'base.html.twig' %}


{% block body %}


    <div class="contain">

        <div class="row ">

            <div class="col-3 text-center" style="background-color: #eeeeee">

                <h1>Your search</h1>


                <div class="card">
                    <div id="collapseSearch" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <form>
                                <div class="input-group">
                                    <input type="search" class="form-control" placeholder="Search" autocomplete="off"
                                           name="query" required value="{{ app.request.get('query') }}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <div class="row">
                                <div class="col-md-10 ">
                                    <strong><p>Others Filter</p></strong>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fas fa-angle-down"></i>
                                    </button>

                                </div>
                            </div>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="radios text-left">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio"
                                           class="custom-control-input" checked="checked">
                                    <label class="custom-control-label" for="customRadio1">Title</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">Author</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio3" name="customRadio"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio3">Journal</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <div class="row">
                                <div class="col-md-10 ">
                                    <strong><p>Document types</p></strong>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        <i class="fas fa-angle-down"></i>
                                    </button>
                                </div>
                            </div>
                        </h2>
                    </div>

                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="radios text-left">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Article</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">Thesis</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">Proceedings</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <div class="row">
                                <div class="col-md-10 ">
                                    <strong><p>Publication Year</p></strong>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        <i class="fas fa-angle-down"></i>
                                    </button>
                                </div>
                            </div>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <select class="selectpicker" data-live-search="true">
                                <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                                <option data-tokens="mustard">Burger, Shake and a Smile</option>
                                <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                            </select>

                        </div>
                    </div>
                </div>


            </div>


            <div class="col-8" style="background-color: #e0e0e0;">

                <h1> {{ pagination.getTotalItemCount }} Resultados </h1>

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <div class="pag">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>

                {% if pagination.page is null %}
                    {% set counter = 0 %}
                {% else %}
                    {% set counter = (pagination.page - 1) * 10 %}
                {% endif %}

                {% for referencia in pagination %}
                    <div class="card shadow-sm mb-1 bg-white rounded card-over"
                         {% if loop.index is odd %}class="color"{% endif %}>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-sm-1">
                                    <h5 class="card-title">{{ counter + 1 }}.</h5>
                                </div>
                                <div class="col-md-11">
                                    <h5>
                                        <strong><a href="{{ path('referencia_show', { 'slug': referencia.slug }) }}">{{ referencia.title }}</a>
                                        </strong></h5><br>

                                    <p class="card-text">By:
                                        <button type="button" class="btn btn-link">{{ referencia.authors }}</button>
                                        <br> Publisher: {{ referencia.journal }},
                                        <small class="text-muted">{{ referencia.yearPub }}</small>
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">Volume: {{ referencia.volume }}
                                            , {% if  referencia.issue %} Issue: {{ referencia.issue }},{% endif %}
                                            Pages: {{ referencia.pages }}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% set counter = counter + 1 %}
                {% endfor %}

                <div class="row">
                    <div class="col-md-4">.col-6 .col-md-4</div>
                    <div class="col-md-8">
                        <div class="pag">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


    {#<table class="table table-stripped table-hover ">#}

    {#<thead>#}
    {#<tr style="border-bottom: 3px solid #0088CC">#}
    {#<th scope="row"></th>#}
    {#<th scope="col">Document title</th>#}
    {#<th scope="col">Authors</th>#}
    {#<th scope="col">Year</th>#}
    {#<th scope="col">Source</th>#}
    {#</tr>#}
    {#</thead>#}

    {#{% set counter = 0 %}#}
    {#{% for referencia in referencias %}#}
    {#<tbody>#}
    {#<tr class="mt-5 border-bottom">#}
    {#<th scope="row">{{ counter + 1 }}</th>#}
    {#<td>{{ referencia.title }}</td>#}
    {#<td>{{ referencia.authors }}</td>#}
    {#<td>{{ referencia.yearPub }}</td>#}
    {#<td>{{ referencia.journal }}<br>{% if  referencia.issue %}{{ referencia.issue }},{% endif %} pp. {{ referencia.pages }}</td>#}
    {#</tr>#}
    {#</tbody>#}
    {#{% set counter = counter + 1 %}#}
    {#{% endfor %}#}
    {#</table>#}
    {#</div>#}

    {#<h1>Referencias list</h1>#}

    {#<table>#}
    {#<thead>#}
    {#<tr>#}
    {#<th>Authores</th>#}
    {#<th>Title</th>#}
    {#<th>Type</th>#}
    {#<th>Yearpreprint</th>#}
    {#<th>Yearpub</th>#}
    {#<th>Publication</th>#}
    {#<th>Journal</th>#}
    {#<th>Issue</th>#}
    {#<th>Pages</th>#}
    {#<th>Corporateauthor</th>#}
    {#<th>Address</th>#}
    {#<th>Keywords</th>#}
    {#<th>Abst</th>#}
    {#<th>Publisher</th>#}
    {#<th>Placepub</th>#}
    {#<th>Editor</th>#}
    {#<th>Issn</th>#}
    {#<th>Isbn</th>#}
    {#<th>Medium</th>#}
    {#<th>Notas</th>#}
    {#<th>Revision</th>#}
    {#<th>File</th>#}
    {#<th>Url</th>#}
    {#<th>Doi</th>#}
    {#<th>Arxiv</th>#}
    {#<th>Mathscinet</th>#}
    {#<th>Zmath</th>#}
    {#<th>Inspires</th>#}
    {#<th>Created</th>#}
    {#<th>Modified</th>#}
    {#<th>Volume</th>#}
    {#<th>Reportnumber</th>#}
    {#<th>Msc</th>#}
    {#<th>Mrnumber</th>#}
    {#<th>Booktitle</th>#}
    {#<th>School</th>#}
    {#<th>Advisor</th>#}
    {#<th>Thesistype</th>#}
    {#<th>Id</th>#}
    {#<th>Actions</th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
    {#{% for referencium in referencias %}#}
    {#<tr>#}
    {#<td><a href="{{ path('referencia_show', { 'id': referencium.id }) }}">{{ referencium.authores }}</a></td>#}
    {#<td>{{ referencium.title }}</td>#}
    {#<td>{{ referencium.type }}</td>#}
    {#<td>{{ referencium.yearpreprint }}</td>#}
    {#<td>{{ referencium.yearpub }}</td>#}
    {#<td>{{ referencium.publication }}</td>#}
    {#<td>{{ referencium.journal }}</td>#}
    {#<td>{{ referencium.issue }}</td>#}
    {#<td>{{ referencium.pages }}</td>#}
    {#<td>{{ referencium.corporateauthor }}</td>#}
    {#<td>{{ referencium.address }}</td>#}
    {#<td>{{ referencium.keywords }}</td>#}
    {#<td>{{ referencium.abst }}</td>#}
    {#<td>{{ referencium.publisher }}</td>#}
    {#<td>{{ referencium.placepub }}</td>#}
    {#<td>{{ referencium.editor }}</td>#}
    {#<td>{{ referencium.issn }}</td>#}
    {#<td>{{ referencium.isbn }}</td>#}
    {#<td>{{ referencium.medium }}</td>#}
    {#<td>{{ referencium.notas }}</td>#}
    {#<td>{% if referencium.revision %}Yes{% else %}No{% endif %}</td>#}
    {#<td>{{ referencium.file }}</td>#}
    {#<td>{{ referencium.url }}</td>#}
    {#<td>{{ referencium.doi }}</td>#}
    {#<td>{{ referencium.arxiv }}</td>#}
    {#<td>{{ referencium.mathscinet }}</td>#}
    {#<td>{{ referencium.zmath }}</td>#}
    {#<td>{{ referencium.inspires }}</td>#}
    {#<td>{% if referencium.created %}{{ referencium.created|date('Y-m-d H:i:s') }}{% endif %}</td>#}
    {#<td>{% if referencium.modified %}{{ referencium.modified|date('Y-m-d H:i:s') }}{% endif %}</td>#}
    {#<td>{{ referencium.volume }}</td>#}
    {#<td>{{ referencium.reportnumber }}</td>#}
    {#<td>{{ referencium.msc }}</td>#}
    {#<td>{{ referencium.mrnumber }}</td>#}
    {#<td>{{ referencium.booktitle }}</td>#}
    {#<td>{{ referencium.school }}</td>#}
    {#<td>{{ referencium.advisor }}</td>#}
    {#<td>{{ referencium.thesistype }}</td>#}
    {#<td>{{ referencium.id }}</td>#}
    {#<td>#}
    {#<ul>#}
    {#<li>#}
    {#<a href="{{ path('referencia_show', { 'id': referencium.id }) }}">show</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="{{ path('referencia_edit', { 'id': referencium.id }) }}">edit</a>#}
    {#</li>#}
    {#</ul>#}
    {#</td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</tbody>#}
    {#</table>#}

    <ul>
        <li>
            <a href="{{ path('referencia_new') }}">Create a new referencium</a>
        </li>
    </ul>
{% endblock %}
