{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="{{ asset('css/forms.css') }}"/>
 {% endblock %}

{% block body %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/gh/ttskch/select2-bootstrap4-theme@master/dist/select2-bootstrap4.min.css" rel="stylesheet">


    <div class="container mt-5">
        <h3>Example of <a href="https://github.com/ttskch/select2-bootstrap4-theme" target="_blank">@ttskch/select2-bootstrap4-theme</a></h3>
        <hr>

        <form>
            <div class="form-group">
                <label>Example select</label>
                <select class="form-control" id="select-single" placeholder="Choose one thing" data-allow-clear="1">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label>Example multiple select</label>
                <select multiple class="form-control" placeholder="Choose anything" data-allow-clear="1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </form>
    </div>

    <script>
        $('select').each(function(idx, ele) {
            $(ele).select2({
                theme: 'bootstrap4',
                placeholder: ele.getAttribute('placeholder')
            });
        });
    </script>
{#    {{ form_start(form) }}#}
{#    <div class="formulario  ">#}
{#        <section class=" d-flex content-header justify-content-center ">#}
{#            <h1>Nueva referencia</h1>#}
{#        </section>#}
{#        <div class="container">#}
{#            <div class="alert-danger">{{ form_errors(form) }}</div>#}
{#            <div class=" row d-flex flex-column ">#}
{#                <div class=" justify-content-center mt-lg-5 col">#}
{#                    <h3>Datos de Publicación</h3>#}
{#                </div>#}

{#                <div class ="row d-flex justify-content-between col mt-lg-1 " >#}
{#                    <div class="form-group form-control-lg col-lg-10 col-xs-12 ">#}
{#                        <label>Tipo de Publicación</label>#}
{#                        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}#}
{#                        <span class="text-dange">{{ form_errors(form.type) }}</span>#}
{#                    </div>#}
{#                    <div class="form-group form-control-lg col-lg-6 col-xs-12 ">#}

{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    {{ form_end(form) }}#}






{#    <ul>#}
{#        <li>#}
{#            <a href="{{ path('referencia_index') }}">Back to the list</a>#}
{#        </li>#}
{#    </ul>#}




{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        var $tipo = $('#appbundle_referencia_type');
        $tipo.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            $form.submit();
        });
    </script>

{% endblock %}