{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="{{ asset('css/forms.css') }}"/>

     <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
     <!-- select2 -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
     <link href="https://cdn.jsdelivr.net/gh/ttskch/select2-bootstrap4-theme@master/dist/select2-bootstrap4.min.css" rel="stylesheet">



 {% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="formulario  ">


        <div class="container" id="box1">
            <div class=" row d-flex flex-column ">

                <div class=" d-flex content-header justify-content-start p-3 ml-3">
                    <h1>Nueva referencia </h1>
                    {% if form.revision is defined %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="form-group col-1 offset-md-7 mt-4 ">
                                {{ form_widget(form.revision, {'attr':  { 'data-toggle':'toggle','class': '', 'data-onstyle':'success', 'data-on':'Revisado', 'data-off':'no_revisado', 'data-onstyle':'success', 'data-offstyle':'danger'}}) }}
                                <span class="text-dange">{{ form_errors(form.revision) }}</span>
                            </div>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <div class="form-group col-1 offset-md-7 mt-4 d-none ">
                                {{ form_widget(form.revision, {'attr':  { 'data-toggle':'toggle','class': '', 'data-onstyle':'success', 'data-on':'Revisado', 'data-off':'sin revision', 'data-onstyle':'success', 'data-offstyle':'danger'}}) }}
                                <span class="text-dange">{{ form_errors(form.revision) }}</span>
                            </div>
                        {% endif %}
                    {% endif %}


                </div>


                <div><hr color="#BDBDBD" size=3></div>

                <div class ="row d-flex col mt-lg-5 flex-row " id="data1" >
                    <div class="form-group  col-lg-3 ">
                        <h5 class="etiqueta2 ml-lg-4">Publicación</h5>
                    </div>
                    <div class="row form-group col-lg-7 offset-md-1 col-sm-12 d-flex justify-content-center ">
                        <div class="form-group  col-12 " >
                            <label class="etiqueta ">Tipo de Publicación</label>
                            {{ form_widget(form.type, {'attr': {'class': 'form-control' , 'style':"background-color:white;"}}) }}
                            <span class="text-dange">{{ form_errors(form.type) }}</span>
                        </div>

                    </div>
                </div>

                <div><hr color="#BDBDBD" size=3></div>

                <div class ="row d-flex col mt-lg-5 flex-row " id="data1" >
                    <div class="form-group  col-lg-3 ">
                        <h5 class="etiqueta2 ml-lg-4">Datos de Publicación</h5>
                    </div>

                    <div class="row form-group col-lg-7  offset-md-1 ">

                        {% if form.thesistype is defined %}
                            <div class="form-group col-12 ">
                                <label class="etiqueta">Tipo de Tesis</label>
                                {{ form_widget(form.thesistype, {'attr': {'class': 'form-control' }}) }}
                                <span class="text-dange">{{ form_errors(form.thesistype) }}</span>
                            </div>
                        {% endif %}

                        {% if form.title is defined %}
                            <div class="form-group col-12 ">
                                <label class="etiqueta">Titulo</label>
                                {{ form_widget(form.title, {'attr': {'class': 'form-control' }}) }}
                                <span class="text-dange">{{ form_errors(form.title) }}</span>
                            </div>
                        {% endif %}

                        {% if form.school is defined %}
                            <div class="form-group col-12 ">
                                <label class="etiqueta">Escuela</label>
                                {{ form_widget(form.school, {'attr': {'class': 'form-control' }}) }}
                                <span class="text-dange">{{ form_errors(form.school) }}</span>
                            </div>
                        {% endif %}

                        {% if form.booktitle is defined %}
                            <div class="form-group col-12 ">
                                <label class="etiqueta">Titulo del libro</label>
                                {{ form_widget(form.booktitle, {'attr': {'class': 'form-control' }}) }}
                                <span class="text-dange">{{ form_errors(form.booktitle) }}</span>
                            </div>
                        {% endif %}

                        {% if form.author is defined %}
                            <div class="form-group  col-12 ">
                                <label class="etiqueta">Autores Academicos </label>
                                {{ form_widget(form.author, {'attr': {'class': 'form-control ' }}) }}
                                <span class="text-dange">{{ form_errors(form.author) }}</span>
                            </div>
                        {% endif %}

                        {% if form.authors is defined %}
                            <div class="form-group col-12 ">
                                <label class="etiqueta">Autores Externos</label>
                                {{ form_widget(form.authors, {'attr': {'class': 'form-control' }}) }}
                                <span class="text-dange">{{ form_errors(form.authors) }}</span>
                            </div>
                        {% endif %}

                        {% if form.advisor is defined %}
                            <div class="form-group col-12 ">
                                <label class="etiqueta">Asesor</label>
                                {{ form_widget(form.advisor, {'attr': {'class': 'form-control' }}) }}
                                <span class="text-dange">{{ form_errors(form.advisor) }}</span>
                            </div>
                        {% endif %}

                        {% if form.publisher is defined %}
                            <div class="form-group  col-12">
                                <label class="etiqueta">publisher</label>
                                {{ form_widget(form.publisher, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-dange">{{ form_errors(form.publisher) }}</span>
                            </div>
                        {% endif %}
                        {% if form.editor is defined %}
                            <div class="form-group  col-12">
                                <label class="etiqueta">Editor</label>
                                {{ form_widget(form.editor, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-dange">{{ form_errors(form.editor) }}</span>
                            </div>
                        {% endif %}

                        {% if form.address is defined %}
                            <div class="form-group  col-12">
                                <label class="etiqueta">Dirección</label>
                                {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-dange">{{ form_errors(form.address) }}</span>
                            </div>
                        {% endif %}


                        {% if form.abst is defined %}
                            <div class="form-group  col-12">
                                <label class="etiqueta">Resumen</label>
                                {{ form_widget(form.abst, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-dange">{{ form_errors(form.abst) }}</span>
                            </div>
                        {% endif %}
                        {% if form.journals is defined %}
                            <div class="form-group  col-12">
                                <label class="etiqueta">Revista</label>
                                {{ form_widget(form.journals, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-dange">{{ form_errors(form.journals) }}</span>
                            </div>
                        {% endif %}
                        {% if form.volume is defined %}
                            <div class="form-group  col-xl-6 col-sm-12">
                                <label class="etiqueta">Volumen</label>
                                {{ form_widget(form.volume, {'attr': {'class': 'form-control '}}) }}
                                <span class="text-dange">{{ form_errors(form.volume) }}</span>
                            </div>
                        {% endif %}

                        {% if form.reportnumber is defined %}
                            <div class="form-group  col-xl-6 col-sm-12">
                                <label class="etiqueta">Número de reporte</label>
                                {{ form_widget(form.reportnumber, {'attr': {'class': 'form-control '}}) }}
                                <span class="text-dange">{{ form_errors(form.reportnumber) }}</span>
                            </div>
                        {% endif %}

                        {% if form.pages is defined %}
                            <div class="form-group  col-xl-6 col-sm-12">
                                <label class="etiqueta">Páginas</label>
                                {{ form_widget(form.pages, {'attr': {'class': 'form-control '}}) }}
                                <span class="text-dange">{{ form_errors(form.pages) }}</span>
                            </div>
                        {% endif %}
                        {% if form.yearpub is defined %}
                            <div class="form-group  col-xl-6 col-sm-12">
                                <label class="etiqueta">Año de publicación</label>
                                {{ form_widget(form.yearpub, {'attr': {'class': 'form-control '}}) }}
                                <span class="text-dange">{{ form_errors(form.yearpub) }}</span>
                            </div>
                        {% endif %}
                        {% if form.keywords is defined %}
                            <div class="form-group  col-xl-6 col-sm-12">
                                <label class="etiqueta">Palabras clave</label>
                                {{ form_widget(form.keywords, {'attr': {'class': 'form-control '}}) }}
                                <span class="text-dange">{{ form_errors(form.keywords) }}</span>
                            </div>
                        {% endif %}
                        {% if form.url is defined %}
                            <div class="form-group  col-12">
                                <label class="etiqueta">URL</label>
                                {{ form_widget(form.url, {'attr': {'class': 'form-control '}}) }}
                                <span class="text-dange">{{ form_errors(form.url) }}</span>
                            </div>
                        {% endif %}
                        {% if form.file is defined %}
                            <div class="form-group  col-12">
                                <label class="etiqueta">Archivo</label>
                                {{ form_widget(form.file, {'attr': {'class': 'form-control file '}}) }}
                                <span class="text-dange">{{ form_errors(form.file) }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div><hr color="#BDBDBD" size=3></div>

                <div class ="row d-flex col mt-lg-5 flex-row " id="data1" >
                    <div class="form-group  col-lg-3 ">
                        <h5 class="etiqueta2 ml-lg-4">Identificadores</h5>
                    </div>
                    <div class="row form-group col-lg-7  offset-md-1 ">
                        {% if form.doi is defined %}
                            <div class="form-group  col-12 " >
                                <label class="etiqueta">DOI</label>
                                {{ form_widget(form.doi, {'attr': {'class': 'form-control ', }}) }}
                                <span class="text-dange">{{ form_errors(form.doi) }}</span>
                            </div>
                        {% endif %}
                        {% if form.issn is defined %}
                            <div class="form-group  col-xl-6 col-sm-12 ">
                                <label class="etiqueta">ISSN</label>
                                {{ form_widget(form.issn, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-dange">{{ form_errors(form.issn) }}</span>
                            </div>
                        {% endif %}
                        {% if form.e_issn is defined %}
                            <div class="form-group  col-xl-6 col-sm-12">
                                <label class="etiqueta">E-ISSN </label>
                                {{ form_widget(form.e_issn, {'attr': {'class': 'form-control '}}) }}
                                <span class="text-dange">{{ form_errors(form.e_issn) }}</span>
                            </div>
                        {% endif %}

                        {% if form.isbn is defined %}
                            <div class="form-group  col-xl-6 col-sm-12 ">
                                <label class="etiqueta">ISBN</label>
                                {{ form_widget(form.isbn, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-dange">{{ form_errors(form.isbn) }}</span>
                            </div>
                        {% endif %}
                        {% if form.e_isbn is defined %}
                            <div class="form-group  col-xl-6 col-sm-12">
                                <label class="etiqueta">E-ISBN </label>
                                {{ form_widget(form.e_isbn, {'attr': {'class': 'form-control '}}) }}
                                <span class="text-dange">{{ form_errors(form.e_isbn) }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div><hr color="#BDBDBD" size=3></div>

                <div class ="row d-flex col mt-lg-5 flex-row " id="data1" >
                    <div class="form-group  col-lg-3 ">
                        <h5 class="etiqueta2 ml-lg-4">Bases de datos</h5>
                    </div>
                    <div class="row form-group col-lg-7  offset-md-1 ">
                        {% if form.msc is defined %}
                            <div class="form-group  col-xl-6 col-sm-12" >
                                <label class="etiqueta">MathSciNet</label>
                                {{ form_widget(form.msc, {'attr': {'class': 'form-control ', }}) }}
                                <span class="text-dange">{{ form_errors(form.msc) }}</span>
                            </div>
                        {% endif %}
                        {% if form.mrnumber is defined %}
                            <div class="form-group  col-xl-6 col-sm-12 ">
                                <label class="etiqueta">MR Number</label>
                                {{ form_widget(form.mrnumber, {'attr': {'class': 'form-control'}}) }}
                                <span class="text-dange">{{ form_errors(form.mrnumber) }}</span>
                            </div>
                        {% endif %}
                        {% if form.zmath is defined %}
                            <div class="form-group  col-xl-6 col-sm-12">
                                <label class="etiqueta">zbMATH  </label>
                                {{ form_widget(form.zmath, {'attr': {'class': 'form-control '}}) }}
                                <span class="text-dange">{{ form_errors(form.zmath) }}</span>
                            </div>
                        {% endif %}
                        {% if form.arxiv is defined %}
                            <div class="form-group  col-xl-6 col-sm-12">
                                <label class="etiqueta">arXiv  </label>
                                {{ form_widget(form.arxiv, {'attr': {'class': 'form-control '}}) }}
                                <span class="text-dange">{{ form_errors(form.arxiv) }}</span>
                            </div>
                        {% endif %}
                        {% if form.wos is defined %}
                            <div class="form-group  col-xl-6 col-sm-12">
                                <label class="etiqueta">Web of Science</label>
                                {{ form_widget(form.wos, {'attr': {'class': 'form-control '}}) }}
                                <span class="text-dange">{{ form_errors(form.wos) }}</span>
                            </div>
                        {% endif %}
                        {% if form.scopus is defined %}
                            <div class="form-group  col-xl-6 col-sm-12">
                                <label class="etiqueta">Scopus</label>
                                {{ form_widget(form.scopus, {'attr': {'class': 'form-control '}}) }}
                                <span class="text-dange">{{ form_errors(form.scopus) }}</span>
                            </div>
                        {% endif %}
                        {% if form.scielo is defined %}
                            <div class="form-group  col-xl-6 col-sm-12">
                                <label class="etiqueta">SciELO</label>
                                {{ form_widget(form.scielo, {'attr': {'class': 'form-control '}}) }}
                                <span class="text-dange">{{ form_errors(form.scielo) }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div><hr color="#BDBDBD" size=3></div>

                <div class ="row d-flex col mt-lg-5 flex-row " id="data1" >
                    <div class="form-group  col-lg-3 ">
                        <h5 class="etiqueta2 ml-lg-4">Adicionales</h5>
                    </div>
                    <div class="row form-group col-lg-7  offset-md-1 ">
                        {% if form.notas is defined %}
                            <div class="form-group  col-12 " >
                                <label class="etiqueta">Notas</label>
                                {{ form_widget(form.notas, {'attr': {'class': 'form-control ', }}) }}
                                <span class="text-dange">{{ form_errors(form.notas) }}</span>
                            </div>
                        {% endif %}

                        {% if form.issue is defined %}
                            <div class="form-group  col-12 " >
                                <label class="etiqueta">ISSUE</label>
                                {{ form_widget(form.issue, {'attr': {'class': 'form-control ', }}) }}
                                <span class="text-dange">{{ form_errors(form.issue) }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>


                <div class ="row d-flex col mt-lg-5 flex-row " id="data1" >
                    <div>
                        <button type="submit" class="btn btn-primary ml-5 mr-2 mb-3">Guardar</button>
                        <a href="{{ path('referencia_index') }}" class="btn btn-danger mb-3">Cancelar <i class="fas fa-times fa-x3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script>
        var $tipo = $('#appbundle_referencia_type');
        $tipo.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            $form.submit();
        });
    </script>


    <script>
        $('select').each(function(idx, ele) {
            $(ele).select2({
                theme: 'bootstrap4',
                placeholder: ele.getAttribute('placeholder')
            });
        });
    </script>

{% endblock %}