{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nueva referencia</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}


    <ul>
        <li>
            <a href="{{ path('referencia_index') }}">Back to the list</a>
        </li>
    </ul>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

      <script>
        var $tipo = $('#appbundle_referencia_type');
        $tipo.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            $form.submit();
        });
    </script>

{% endblock %}