{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <!-- select2 -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
     <link href="https://cdn.jsdelivr.net/gh/ttskch/select2-bootstrap4-theme@master/dist/select2-bootstrap4.min.css"
           rel="stylesheet">

 {% endblock %}

{% block body %}

    {{ form_errors(edit_form) }}
    {{ form_start(edit_form) }}

    <section id="edit-author">
        <div class="container-fluid myTab">
            <div class="row justify-content-md-center">
                <div class="col-md-9 col-sm-12 col-xs-12" id="box1">
                    <div class="row referencia-container p-5">
                        <div class="col-md-12">
                            <form>
                                <h1>Author edit</h1>

                                <div class="form-row">
                                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                        <label for="name">{{ form_label(edit_form.name) }}</label>
                                        {{ form_errors(edit_form.name) }}
                                        {{ form_widget(edit_form.name, { 'attr': { 'class': "form-control", 'placeholder': "Name" , 'id': "name", 'autocomplete':"off" } } ) }}
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                        <label for="user">{{ form_label(edit_form.user) }}</label>
                                        {{ form_errors(edit_form.user) }}
                                        {{ form_widget(edit_form.user, { 'attr': { 'class': "form-control", 'placeholder': "User" , 'id': "user"  } } ) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="alias">{{ form_label(edit_form.alias) }}</label>
                                    {{ form_errors(edit_form.alias) }}
                                    {{ form_widget(edit_form.alias, { 'attr': { 'class': "form-control", 'placeholder': "Alias" , 'id': "alias", 'autocomplete':"off" } } ) }}
                                </div>
                                <div>
                                    {{ form_widget(edit_form) }}
                                    <button type="submit" class="btn btn-primary" aria-label="save">Save <i class="fas fa-save fa-x3"></i>
                                    </button>
                                    <a href="javascript:history.back(-1);" title="Ir la página anterior"
                                       class="btn btn-danger">Cancel <i class="fas fa-times fa-x3"></i></a>
                                    {{ form_end(edit_form) }}
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script>
        $('select').each(function (idx, ele) {
            $(ele).select2({
                theme: 'bootstrap4',
                placeholder: ele.getAttribute('placeholder')
            });
        });
    </script>

{% endblock %}