{% extends 'base.html.twig' %}


 {% block stylesheets %}
     {{ parent() }}
     <!-- select2 -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
     <link href="https://cdn.jsdelivr.net/gh/ttskch/select2-bootstrap4-theme@master/dist/select2-bootstrap4.min.css"
           rel="stylesheet">

 {% endblock %}

{% block body %}
    {{ form_start(form) }}

    {{ form_errors(form) }}
    <section id="new-author">
        <div class="container-fluid myTab">
            <div class="row justify-content-md-center">
                <div class="col-9" style="background-color: #eeeeee">
                    <div class="row referencia-container p-5">
                        <div class="col-md-12 ">
                            <form>
                                <h1>Author creation</h1>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="name">{{ form_label(form.name) }}</label>
                                        {{ form_errors(form.name) }}
                                        {{ form_widget(form.name, { 'attr': { 'class': "form-control", 'placeholder': "Name" , 'id': "name", 'autocomplete':"off"} } ) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="user">{{ form_label(form.user) }}</label>
                                        {{ form_errors(form.user) }}
                                        {{ form_widget(form.user, { 'attr': { 'class': "form-control", 'placeholder': "User" , 'id': "user"  } } ) }}
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="alias">{{ form_label(form.alias) }}</label>
                                    {{ form_errors(form.alias) }}
                                    {{ form_widget(form.alias, { 'attr': { 'class': "form-control", 'placeholder': "Alias" , 'id': "alias", 'autocomplete':"off" } } ) }}
                                </div>
                                <div>
                                    {{ form_widget(form) }}
                                    <button type="submit" class="btn btn-primary">Save <i class="fas fa-save fa-x3"></i>
                                    </button>
                                    <a href="javascript:history.back(-1);" title="Ir la página anterior"
                                       class="btn btn-danger">Cancel <i class="fas fa-times fa-x3"></i></a>
                                    {{ form_end(form) }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#    <h1>Author creation</h1>#}

    {#    {{ form_start(form) }}#}
    {#        {{ form_widget(form) }}#}
    {#        <input type="submit" value="Create" />#}
    {#    {{ form_end(form) }}#}

    {#    <ul>#}
    {#        <li>#}
    {#            <a href="{{ path('author_index') }}">Back to the list</a>#}
    {#        </li>#}
    {#    </ul>#}
{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>


    <script>
        $('select').each(function (idx, ele) {
            $(ele).select2({
                theme: 'bootstrap4',
                placeholder: ele.getAttribute('placeholder')
            });
        });
    </script>

{% endblock %}