{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cites list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Url</th>
                <th>Doi</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cite in cites %}
            <tr>
                <td><a href="{{ path('cites_show', { 'id': cite.id }) }}">{{ cite.id }}</a></td>
                <td>{{ cite.reference }}</td>
                <td>{{ cite.url }}</td>
                <td>{{ cite.doi }}</td>
                <td>{% if cite.created %}{{ cite.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cites_show', { 'id': cite.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cites_edit', { 'id': cite.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cites_new') }}">Create a new cite</a>
        </li>
    </ul>
{% endblock %}
