{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    {{ form_errors(form) }}
    <section id="new-cite">
        <div class="container-fluid myTab" >
            <div class="row justify-content-md-center">
                <div class="col-9" style="background-color: #eeeeee">
                    <div class="row referencia-container p-5">
                        <div class="col-md-12 ">
                            <form>
                                <h1>Cites creation</h1>
                                <h3>{{ cite.references.title }}</h3>

                                <div class="form-group">
                                    <label for="cite">{{ form_label(form.cite) }}</label>
                                    {{ form_errors(form.cite) }}
                                    {{ form_widget(form.cite, { 'attr': { 'class': "form-control", 'placeholder': "Cite" , 'id': "cite", 'rows': 8  } } ) }}
                                </div>

                                <div class="form-group">
                                    <label for="doi">{{ form_label(form.doi) }}</label>
                                    {{ form_errors(form.doi) }}
                                    {{ form_widget(form.doi, { 'attr': { 'class': "form-control", 'placeholder': "DOI" , 'id': "doi"  } } ) }}
                                </div>

                                <div class="form-group">
                                    <label for="url">{{ form_label(form.url) }}</label>
                                    {{ form_errors(form.url) }}
                                    {{ form_widget(form.url, { 'attr': { 'class': "form-control", 'placeholder': "Url" , 'id': "url"  } } ) }}
                                </div>


                                <div>
                                    {{ form_widget(form) }}
                                    <button type="submit" class="btn btn-primary">Save <i class="fas fa-save fa-x3"></i></button>
                                    <a href="javascript:history.back(-1);" title="Ir la página anterior" class="btn btn-danger">Cancel <i class="fas fa-times fa-x3"></i></a>
                                    {{ form_end(form) }}
                                </div>
                                {#        <ul>#}
                                {#            <li>#}
                                {#                <a href="{{ path('fi_index') }}">Back to the list</a>#}
                                {#            </li>#}
                                {#        </ul>#}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#    <h1>Cite creation</h1>#}

    {#    {{ form_start(form) }}#}
    {#        {{ form_widget(form) }}#}
    {#        <input type="submit" value="Create" />#}
    {#    {{ form_end(form) }}#}

    {#    <ul>#}
    {#        <li>#}
    {#            <a href="{{ path('cites_index') }}">Back to the list</a>#}
    {#        </li>#}
    {#    </ul>#}
{% endblock %}
