{% extends 'base.html.twig' %}

{% block body %}
    <section id="show-cite">
        <div class="container-fluid myTab" >
            <div class="row justify-content-md-center">
                <div class="col-9" style="background-color: #eeeeee">
                    <div class="row referencia-container p-5">
                        <div class="col-md-11 ">
                            <form>
                                <h1>Cite</h1>
                                <h3>{{ cite.references.title }}</h3>
                                {% if cite.cite %}
                                <div class="form-group">
                                    <p><strong>Cite</strong><br>
                                    <label for="doi">{{ cite.cite }}</label>
                                </div>
                                {% endif %}
                                {% if cite.url %}
                                    <div class="form-group">
                                        <p><strong>Url</strong><br>
                                            <a href="{{ cite.url }}"> {{ cite.url }}</a>
                                    </div>
                                {% endif %}
                                {% if cite.doi %}
                                    <div class="form-group">
                                        <p><strong>DOI</strong><br>
                                            <a href="{{ cite.doi }}"> {{ cite.doi }}</a>
                                    </div>
                                {% endif %}

                                <div>
                                    <a href="{{ path('cites_edit', { id : cite.id})}}" class="btn btn-primary">Edit <i class="fas fa-edit fa-x3"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    <h1>Cite</h1>#}

    {#    <table>#}
    {#        <tbody>#}
    {#            <tr>#}
    {#                <th>Id</th>#}
    {#                <td>{{ cite.id }}</td>#}
    {#            </tr>#}
    {#            <tr>#}
    {#                <th>Reference</th>#}
    {#                <td>{{ cite.cite }}</td>#}
    {#            </tr>#}
    {#            <tr>#}
    {#                <th>Url</th>#}
    {#                <td>{{ cite.url }}</td>#}
    {#            </tr>#}
    {#            <tr>#}
    {#                <th>Doi</th>#}
    {#                <td>{{ cite.doi }}</td>#}
    {#            </tr>#}
    {#            <tr>#}
    {#                <th>Referencia</th>#}
    {#                <td><a href="{{ path('referencia_show', { slug: cite.references.slug }) }}">{{ cite.references.title }}</a></td>#}
    {#            </tr>#}
    {#            <tr>#}
    {#                <th>Created</th>#}
    {#                <td>{% if cite.created %}{{ cite.created|date('Y-m-d H:i:s') }}{% endif %}</td>#}
    {#            </tr>#}
    {#        </tbody>#}
    {#    </table>#}

    {#    <ul>#}
    {#        <li>#}
    {#            <a href="{{ path('cites_index') }}">Back to the list</a>#}
    {#        </li>#}
    {#        <li>#}
    {#            <a href="{{ path('cites_edit', { 'id': cite.id }) }}">Edit</a>#}
    {#        </li>#}
    {#        <li>#}
    {#            {{ form_start(delete_form) }}#}
    {#                <input type="submit" value="Delete">#}
    {#            {{ form_end(delete_form) }}#}
    {#        </li>#}
    {#    </ul>#}
{% endblock %}
